@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'MyFont';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  background: #c0c7cf;
}

.container {
  font-family: 'MyFont', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Align buttons to the bottom of the container */
  margin-top: 42px; /* Add some spacing between the buttons */
  margin-bottom: 30px;
  height: 24px; /* Set the height to match the data container */
}

.start-button,
.stop-button {
  display: flex;
  align-items: flex-end; /* Align buttons to the bottom of the container */
}

.button-left {
  text-align: left;
  margin-right: 120px; /* Add some spacing between the buttons */
}

.button-right {
  text-align: right;
  margin-left: 120px; /* Add some spacing between the buttons */
}

.data-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin-bottom: 30px;
  height: 26px;
  width: 318px;
}

.visualizer-container {
  border: 1px solid #000000;
  border-radius: .9vw;
  height: 100px;
  width: 316px;
}

.data-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for Chrome and Safari */
}

.scrolling-text {
  margin: 0;
  animation: scrollText linear infinite;
  white-space: nowrap; /* Prevent line breaks */
  animation-duration: 9s; /* Adjust the duration as needed */
  animation-timing-function: linear;
  animation-delay: 1s; /* Delay the animation start if necessary */
}

@keyframes scrollText {
  0% {
    transform: translateX(100%); /* Start from the left edge */
  }
  100% {
    transform: translateX(-100%); /* Scroll to the right edge */
  }
}
